*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkmagenta
    text-align: center;
    color:aliceblue;
}
.container{
    box-shadow: 0 0 2px 2px;
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;

    
}

