*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.container{
    box-shadow: 0 0 10px 10px;
    width: 200px;
    height: 300px;
}
