*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
   
    display: flex;
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(90deg, rgba(15,7,138,1) 0%, rgba(126,0,255,1) 100%);

}
.todoContainer{
    width: 100%;
    background: #fff;
    margin: 100px auto 20px;
    max-width: 540px;
}
